@charset "utf-8";
@import url("reset.css");
/* CSS Document */

#newitem { position:relative; width:950px; margin:0 auto; }
#back_font{ word-wrap:break-word; word-break:break-all; position:absolute;left:-9999px; width:500px; padding-top:20px;}
#wrapper{ position:relative; left: 0px; top: 0px; z-index: 999; }

.block{ width:950px; position:relative;}
.block_back { width:950px; position:absolute; left:0px; top:0px; }

#vision{ width:950px; height:600px; overflow:hidden;}
#vision_img{ height:600px; }
#black{ background:#fae5d9; position:absolute; width:950px; height:600px; left:0px; top:0px;}
#subtitle{ position:absolute; left:75px; top:60px; display:none;}
#title{ position:absolute; left:70px; top:95px; display:none;}
#word{ position:absolute; left:105px; top:210px; display:none;}
#product{ position:absolute; left:135px; top:280px; display:none;}
#icon{ position:absolute; left:140px; top:520px; display:none;}

/*====================================== #intro ======================================*/
#intro{ position:relative; height:640px; background: url(../images/index_06.jpg) no-repeat; }
.intro_style{ display: inline-block; width:189px; height:193px; }
.intro_style span { opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition: opacity 0.5s; filter:alpha(opacity=0); width:189px; height:193px; }
.intro_style:hover span { opacity: 1; filter: alpha(opacity=100);}

.intro01 { position: absolute; left:200px; top:225px; background: url(../images/index_icon02-1.png) no-repeat; background-position: center center;}
.intro01 span { position: absolute; top:0px; left:0px; background: url(../images/index_icon02-2.png) no-repeat;}

.intro02 { position: absolute; left:60px; top:360px; background: url(../images/index_icon03-1.png) no-repeat; background-position: center center;}
.intro02 span { position: absolute; top:0px; left:0px; background: url(../images/index_icon03-2.png) no-repeat;}

.intro03 { position: absolute; left:250px; top:420px; background: url(../images/index_icon04-1.png) no-repeat; background-position: center center;}
.intro03 span { position: absolute; top:0px; left:0px; background: url(../images/index_icon04-2.png) no-repeat;}

/*============================================================================*/
#mov{ position:relative; height:800px; background: url(../images/index_07.jpg) no-repeat;}
#mov_player{ position:absolute; left:100px; top:210px;}

#excellent{ position:relative; height:780px; background: url(../images/index_08.jpg) no-repeat;}
.excellent_icon{ position:absolute; left:600px; top:690px;}

#event{ position:relative; height:680px; background: url(../images/index_09.jpg) no-repeat; }

#msg{ position:absolute; left:245px; top:215px; width: 320px; text-align:left;}
.msg_form{ float:left; width:280px; line-height:20px; border: #aaaaaa 1px solid; color:#666; margin-bottom:10px; margin-right:10px; padding:8px 5px; outline:none; }
.msg_check{ position:absolute; left:-125px; top:163px; width:15px; height:15px;}
.msg_icon{ position:absolute; left:-35px; top:270px;}

.content{ width: 950px;}

img { border:0; display: block;}
area{ outline:none;}


