@charset "UTF-8";
@import url("reset.css");

body{ font-family: "FZShuSong-Z01", serif; color: #360000; text-align: center; background-color: #eec6cc; }

*{ -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   margin: 0; padding: 0;
}

a{ text-decoration: none; }
img { border:0; display: block; margin: auto;}
area{ outline:none; display: block;}

.word_m{ display: none; }

#wrapper{ width: 100%; background: url(../images/bg01.png) no-repeat; background-position: top center;}
#header{ height: 60px; padding-top: 10px; border-top: #ff8a82 5px solid; }
#header img{ width: 10%; }
#footer{ height: 65px; padding-top: 20px; font-size: 0.8em;}
.bg{ background-color: #333; color: #aaa; }
.container{ position: relative; margin: auto; width: 100%; max-width: 1000px; padding: 5% 0; }

.title_step{ text-align: left; margin-left: 20%; }
.highlight{ display: none; font-weight: 700; font-size: 5.2em; color: #fff; background: #cf005b; text-align: center; border-radius: 100%; line-height: 120px; width: 80px; height: 120px; -ms-transform: skewX(-15deg); /* IE 9 */-webkit-transform: skewX(-15deg); /* Safari 3-8 */transform: skewX(-15deg);}
.title{ display: none; font-weight: 700; font-size: 3em; line-height: 1.2em; margin-bottom: 5%; }
.title_pic01 ,.title_pic02{ margin-bottom: 3%; text-align: left; }
.title_pic02 img{ margin-left: 0; }
.subtitle{ font-size: 0.6em; line-height: 1.2em;}
.pink{ color: #cf005b; }
.bg_pink{ background-color: #ec6a8b; }
.bg_pink_light{ background: #f5b0c2;}

#kv{ position: relative; height: 650px; }
.kv_logo{ position: absolute; top: 60px; left: -100px; }
.kv_title{ position: absolute; top: 150px; left: 0; display:none; }
.kv_pro{ position: absolute; top: 100px; left: 530px; display:none; }
.kv_lab{ position: absolute; top: 450px; left: 850px; }

#intro{ background: url(../images/index_05.png) no-repeat; background-position: 50% 50%; }
.intro_main{ position: relative; margin-left: 300px ; margin-top: 70px; width: auto; }
.intro_main img{ width: auto; margin-bottom: 5%; }

.intro_iconbg01{ width: 380px; height: 60px; line-height: 60px; border-radius: 50px; font-size: 1.2em; color: #fff; background: url(../images/arr02.png) no-repeat; background-position: 90% 50%; background-color: #ec6a8b; }
.intro_iconbg02{ width: 380px; height: 60px; line-height: 21px; padding-top: 8px; border-radius: 50px; font-size: 1em; color: #ec6a8b;background-color: #fff; border: #ec6a8b 2px solid; }

.intro_icon01{ position: absolute; top: 150px; left: 150px; }
.intro_icon02{ position: absolute; top: 220px; left: 150px; }
.intro_icon03{ position: absolute; top: 290px; left: 150px; }
.intro_icon04{ position: absolute; top: 360px; left: 150px; }

.intro_sample{ width: 80%; margin: auto; margin-top: 40%; padding: 2% 0%; background: rgba(255, 255, 255, 0.3); border-radius: 10px; }
.intro_sample h2{ display: inline-block; width: 35%; padding-top: 8%; vertical-align: top; }
.intro_sample img{ display: inline-block; width: 60%; }

#step{}
.step_pro{ display: inline-block; width: 30%; margin-left: 2%; background: #fff;}
.step_pro h1{ padding: 5%; background: #cf005b; color: #fff; }
.step_pro img{ display: inline-block; margin-left: 5%; width: 90%; }
.step_pro_title{ margin: 5% 10%; padding-bottom: 5%; border-bottom: #cf005b 1px solid; }
.step_pro_word{ margin: 5%; color: #cf005b; }
.step_pro_icon { margin: 10%;}
.step_pro_icon a{ color: #cf005b; }
.step_pro_icon img { width: auto; }

#editor{ background-color: #fcf6f6; }
.editor_L{ display: inline-block; width: 30%; }
.editor_L img{ width: 100%; }
.editor_R{ display: inline-block; width: 60%; margin-left: 5% ; text-align: left; }
.editor_R p img{ display: none; }
.editor_R p{ font-size: 0.9em; line-height: 1.6em; text-align: justify; text-justify: inter-ideograph; }

#excellent{ background: #fff;}
.excellent_L{ display: inline-block; width: 30%; margin-left: 5%; vertical-align: top; }
.excellent_L img{ width: 100%; }
.excellent_R{ display: inline-block; width: 60%; text-align: left; vertical-align: top; }
.excellent_peo{ margin-top: 3%; }
.excellent_peo_pic{ display: inline-block; width: 20%; vertical-align: middle; }
.excellent_peo_word{ display: inline-block; width: 80%; vertical-align: middle; }
.excellent_score{ margin: auto; margin-top: 2%; width: 80%; }
.excellent_point{ display: inline-block; width: 19%; background-color: #fcf6f6; padding: 4% 2%; }
.excellent_point:last-child{ background: #ec6a8b; }
.excellent_point img{ width: 70%; }
.excellent_point a{ color: #fff; }
.excellent_icon img{ display: inline-block; width: auto; margin-left: 5%; vertical-align: bottom; }

#event{ background: url(../images/bg01.png) no-repeat; background-position: top center; text-align: left; }
.event_bg{ width: 80%; margin: auto; padding: 8% 30% 8% 8%; background: url(../images/bg02.png) no-repeat; background-position: bottom right; background-size: 100%; background-color: #fff; }
.event_word{ margin: 5% 0; }
.event_privacy{ font-size: 0.8em; }
.event_privacy input{ display: inline-block; width: 6%; margin-top: 1%; vertical-align: top; }
.event_privacy p{ display: inline-block; width: 90%; vertical-align: top; }
.event_privacy a{ color: #cf005b }
.event_share{ margin-top: 5% ; width: 50%; font-size: 1.4em; background-color: #000; text-align: center;}
.event_share a{ display: block ; padding: 4% 25%; background-color: #cf005b; color: #fff; }
.event_note{ margin: auto; width: 80%; padding: 1s% 0; font-size: 0.6em; line-height: 2em; text-align: center;}


/*-------------------mobile----------------------*/
@media only screen and (max-width:768px) {

.word_m{ display: block; }

#header{ padding-left: 10%; padding-right: 10%; border: none; }
#header img{ width: 60%; padding-top: 1%; }
#footer{ padding-left: 10%; padding-right: 10%; vertical-align: middle; }
.container{ width: 90%; padding: 10% 0; }

.highlight{ display: inline-block; font-size: 5.2em; border-radius: 100%; line-height: 100px; width: 80px; height: 100px; }
.title{ display: inline-block; font-size: 2em; line-height: 1.2em; }
.title_pic01 ,.title_pic02{ display: none; }

#kv{ height: auto; }
.kv_logo ,.kv_title, .kv_pro{ position: static; width: auto; }
.kv_logo img{ width: 30%; margin-left: 8%; margin-bottom: 5%; }
.kv_title img{ width: 80%; margin-left: 5%; }
.kv_pro img{ width: 80%; }
.kv_lab{ position: absolute; top: 80%; left: 65%; width: auto; }
.kv_lab img{ width: 70%; }

#intro{ background-position: 5% 22%; background-size: 180%; }
.intro_main{ margin: auto ; margin-top: 80%; }
.intro_main img{ width: 85%; }
/*.intro_icon{ width: 90%; }*/
.intro_iconbg01, .intro_iconbg02{ width: 100%; }
.intro_icon01{ position: absolute; top: 80px; left: 0px; }
.intro_icon02{ position: absolute; top: 150px; left: 0px; }
.intro_icon03{ position: absolute; top: 220px; left: 0px; }
.intro_icon04{ position: absolute; top: 290px; left: 0px; }
.intro_sample{ width: 90%; margin-top: 100%; padding: 5% 5%; }
.intro_sample h2{ width: 100%; padding-top: 0%; }
.intro_sample img{ width: 100%; }

.step_pro{ width: 90%; margin-bottom: 5%; }

.editor_L{ display: none; }
.editor_R{ width: 90%; margin-left: 0% ; }
.editor_R p img{ display: block; float: left; width: 50% ; margin-right: 5%; margin-bottom: 2%; }
.editor_R p{ float: left; margin-top: 5%; }

.excellent_L{ width: 100%; margin: auto; }
.excellent_L img{ width: 80%; }
.excellent_R{ width: 100%; }
.excellent_peo{ margin-top: 8%; }
.excellent_peo_word{ width: 100%; margin-left: 2%;}
.excellent_score{ width: 100%; margin-top: 8%; }
.excellent_point{ width: 49%; margin-top: 2%; }
.excellent_point:last-child{ width: 100%; margin-top: 5%; }
.excellent_icon img{ width: auto; }

.event_bg{ width: 90%; padding: 10% 10% 30% 10%; background: url(../images/bg02s.png) no-repeat; background-position: bottom right; background-size: 60%; background-color: #fff; }
.event_share{ width: 80%; margin-top: 15% ; }
.event_note{ width: 90%; padding: 2%; line-height: 1.4em; }
	}