@charset "utf-8";
@import url("reset.css");
/* CSS Document */

#newitem { position:relative; width:950px; margin:0 auto; overflow: hidden; }
#back_font{ word-wrap:break-word; word-break:break-all; position:absolute;left:-9999px; width:500px; padding-top:20px;}
#wrapper{ position:relative; left: 0px; top: 0px; z-index: 999;}

.block{ width:950px; position:relative;}

.black{ background:#3e3a43; position:absolute; width:950px; height:950px; left:0px; top:0px;}
.title{ position:absolute; left:111px; top:49px; display:none;}
.pro{ position:absolute; left:0px; top:176px; display:none;}
.mark{ position:absolute; left:369px; top:314px; display:none;}

/*--------------------------flower--------------------------*/
#flower{ position:relative; height:410px; background: url(../images/index_05.jpg) no-repeat; }
#flower_icon01{ position:absolute; left:748px; top:58px; width: 130px; height: 138px; background: url(../images/index_icon01.png) no-repeat;}
#flower_icon01o{ position:absolute; left:490px; top:70px; width: 317px; height: 326px; background: url(../images/index_pop01.png) no-repeat; opacity: 0; pointer-events: none; }
#flower_pic{ position:absolute; left:490px; top:70px; width: 317px; height: 326px; background: url(../images/index_pic01.png) no-repeat; pointer-events: none; }

/*--------------------------intro01--------------------------*/
#intro01{ position:relative; height:770px; background: url(../images/index_06.jpg) no-repeat; }

#intro01_icon01{ position:absolute; left:550px; top:340px; width: 306px; height: 60px; background: url(../images/index_icon02.png) no-repeat;}
#intro01_icon02{ position:absolute; left:550px; top:470px; width: 306px; height: 60px; background: url(../images/index_icon03.png) no-repeat;}

#intro01_icon01o{ position:absolute; left:469px; top:394px; width: 432px; height: 252px; background: url(../images/index_pop02.png) no-repeat; opacity: 0; pointer-events: none; }
#intro01_icon02o{ position:absolute; left:469px; top:524px; width: 432px; height: 252px; background: url(../images/index_pop03.png) no-repeat; opacity: 0; pointer-events: none;}

#mov{ position: relative; height:480px; background: url(../images/index_07.jpg) no-repeat;}
#mov_player{ position:absolute; width: 500px; height: 281px; left:80px; top:160px; overflow: hidden;}
#video_1{ position:absolute; left:608px; top:268px; }
#video_2{ position:absolute; left:608px; top:348px; }

#excellent{ position: relative; height:860px; background: url(../images/index_08.jpg) no-repeat;}
.excellent_icon01{ position:absolute; left:165px; top:772px; }
.excellent_icon02{ position:absolute; left:435px; top:772px; }
.excellent_icon03{ position:absolute; left:705px; top:772px; }

#event{ position:relative; height:780px; background: url(../images/index_09.jpg) no-repeat;}
.check_style{ position:absolute; left:198px; top:365px; }
.check_style input{ width: 18px; height: 18px; vertical-align: top; margin-top: 2px; margin-right: 5px;}
.check_note{ display:inline-block; width: 270px; font-family:"Microsoft JhengHei"; font-size: 12px; line-height: 18px; }
.check_note a{ color: #393887; }
.event_share{ position:absolute; left:220px; top:443px; }
.event_official{ position:absolute; left:220px; top:503px; }


img { border:0; display: block;}
area{ outline:none;}

