@charset "utf-8";
@import url("reset.css");
/* CSS Document */

#newitem { position:relative; width:950px; margin:0 auto; overflow: hidden; }
#back_font{ word-wrap:break-word; word-break:break-all; position:absolute;left:-9999px; width:500px; padding-top:20px;}
#wrapper{ position:relative; left: 0px; top: 0px; z-index: 999; background:#000; }

.block{ width:950px; position:relative;}

#vision{ width:950px; height:580px; overflow:hidden;}
#black{ background:#000; position:absolute; width:950px; height:580px; left:0px; top:0px;}
#kv{ position:absolute; left:0px; top:0px; display:none;}
#logo{ position:absolute; left:40px; top:30px; display:none;}
#title{ position:absolute; left:310px; top:110px; display:none;}
#pro01{ position:absolute; left:140px; top:190px; display:none;}
#pro02{ position:absolute; left:330px; top:270px; display:none;}

/*--------------------------intro--------------------------*/
#intro{ position:relative; height:670px; background: url(../images/index_02.jpg) no-repeat; }
#intro_normal{ position: absolute; left: 415px; top: 165px; }
#intro_check{ position: absolute; left: 100px; top: 470px; }

#intro_icon{ position: absolute; width: 700px; height: 90px; left: 130px; top: 530px; }
#intro_icon a{ display:block; width: 109px; height: 84px; }

#i_ctag1{ display: inline-block; background: url(../images/index_icon01.png) no-repeat; background-position: 0px top;cursor: pointer; }
#i_ctag2{ display: inline-block; background: url(../images/index_icon01.png) no-repeat; background-position: -116px top;cursor: pointer; }
#i_ctag3{ display: inline-block; background: url(../images/index_icon01.png) no-repeat; background-position: -232px top;cursor: pointer; }
#i_ctag4{ display: inline-block; background: url(../images/index_icon01.png) no-repeat; background-position: -348px top;cursor: pointer; }
#i_ctag5{ display: inline-block; background: url(../images/index_icon01.png) no-repeat; background-position: -464px top;cursor: pointer; }
#i_ctag6{ display: inline-block; background: url(../images/index_icon01.png) no-repeat; background-position: -580px top;cursor: pointer; }

#i_ctag1 a:hover{ background: url(../images/index_icon01.png)no-repeat; background-position: 0px bottom;}
#i_ctag2 a:hover{ background: url(../images/index_icon01.png)no-repeat; background-position: -116px bottom;}
#i_ctag3 a:hover{ background: url(../images/index_icon01.png)no-repeat; background-position: -232px bottom;}
#i_ctag4 a:hover{ background: url(../images/index_icon01.png)no-repeat; background-position: -348px bottom;}
#i_ctag5 a:hover{ background: url(../images/index_icon01.png)no-repeat; background-position: -464px bottom;}
#i_ctag6 a:hover{ background: url(../images/index_icon01.png)no-repeat; background-position: -580px bottom;}

#intro_pop1, #intro_pop2, #intro_pop3, #intro_pop4, #intro_pop5, #intro_pop6{ position: absolute; left: 415px; top: 185px;z-index: 999;}
#intro_pop1, #intro_pop2, #intro_pop3, #intro_pop4, #intro_pop5, #intro_pop6{opacity: 0}

/*--------------------------step--------------------------*/
#step{ position:relative; height:380px; background: url(../images/index_03.jpg) no-repeat; }
.steps{ position:absolute; width: 490px; height: 130px; left:460px; top:160px; }
.step_icon{ float: left; width: 96px; height: 130px; display: inline-block; z-index: 100; }
.step_icon:hover .arr{ opacity: 1;}

.step_icon:hover .arr_img{
  -moz-transform:translateX(-100px);
  -webkit-transform:translateX(-100px);
  -o-transform:translateX(-100px);
  -ms-transform:translateX(-100px);
  transform:translateX(-100px);
}
.arr{
  position: absolute;
  left: 0px;
  width: 490px;
  height: 130px;
  overflow: hidden;
  opacity: 0; pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.arr_img{
  margin-left: 100px;
  -webkit-transition: transform 1s;
  transition: transform 1s;
  -moz-transform:translateX( 0px);
  -webkit-transform:translateX( 0px);
  -o-transform:translateX( 0px);
  -ms-transform:translateX( 0px);
  transform:translateX( 0px);
}

/*--------------------------blogger--------------------------*/
#blogger{ position:relative; height:620px; background: url(../images/index_06.jpg) no-repeat;}
.blogger01{ position:absolute; left:50px; top:180px; }
.blogger02{ position:absolute; left:220px; top:230px; }
.blogger03{ position:absolute; left:390px; top:180px; }
.blogger04{ position:absolute; left:560px; top:230px; }
.blogger05{ position:absolute; left:730px; top:180px; }
.blogger06{ position:absolute; left:50px; top:370px; }
.blogger07{ position:absolute; left:220px; top:420px; }
.blogger08{ position:absolute; left:390px; top:370px; }
.blogger09{ position:absolute; left:560px; top:420px; }
.blogger10{ position:absolute; left:730px; top:370px; }

.blogger_icon{ -webkit-transition: all 0.5s ease-out; }
.blogger_icon:hover{ -webkit-transform: perspective(197px) translate3d( 0px, -25px, 0px); }

#excellent01{ position:relative; height:750px; background: url(../images/index_07.jpg) no-repeat;}
#excellent02{ position:relative; height:640px; background: url(../images/index_08.jpg) no-repeat;}
.excellent_icon01{ position:absolute; left:720px; top:350px;}
.excellent_icon02{ position:absolute; left:470px; top:680px;}

#event{ position:relative; height:480px; background: url(../images/index_09.jpg) no-repeat; background-position: left -40px; }
.event_icon{ position:absolute; left:520px; top:320px;}

.content{ width: 950px; }

img { border:0; display: block;}
area{ outline:none;}

/*--------------------------animation left--------------------------*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*--------------------------animation right--------------------------*/
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*--------------------------animation top--------------------------*/
.animation-element.slide-top {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-top.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*--------------------------animation bottom--------------------------*/
.animation-element.slide-bottom {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, -100px, 0px);
  -webkit-transform: translate3d(0px, -100px, 0px);
  -o-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate3d(0px, -100px, 0px);
}

.animation-element.slide-bottom.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
